#menuWindow {
  display: none;
  position: fixed;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  top: 0;
  color: #000;
}

#menuWindow .line {
  display: block;
  position: relative;
  height: 10px;
}

#menuWindow .menu-list {
  display: flex;
  position: absolute;
  top: 210px;
  right: 50px;
  font-size: 2em;
  flex-direction: column;
}

#menuWindow .menu-list .menu-item {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  margin: 25px auto;
}

#menuWindow .menu-list .menu-item p {
  padding: 0;
  font-weight: 400;
  width: 200px;
  text-align: right;
}

#menuWindow .follow-list {
  position: absolute;
  bottom: 30px;
  left: 20px;
  flex-wrap: wrap;
}

#menuWindow .follow-list .icon {
  width: 18px;
  height: 18px;
  margin: 5px;
  background-color: #aaa;
}

#menuWindow .logo {
  filter: brightness(0) invert(1);
}

#menuWindow .statement {
  width: 150px;
  position: absolute;
  color: #ccc;
  font-size: 0.7em;
  font-weight: 100;
  bottom: 70px;
  left: 25px;
}

#menuWindow .line {
  width: 50px;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  border-bottom: 1px solid #000;
}

#menuWindow .menu-item.active .line {
  border-color: #ccc;
}

#menuWindow .menu-icon span {
  background-color: #ccc;
  height: 1px;
}

#menuWindow .menu-icon span:nth-child(1) {
  width: 10px;
  top: 1px;
  left: 10px;
  transform: rotate(45deg);
}

#menuWindow .menu-icon span:nth-child(2) {
  width: 20px;
  left: 0px;
}

#menuWindow .menu-icon span:nth-child(3) {
  width: 10px;
  top: 9px;
  left: 10px;
  transform: rotate(-45deg);
}

#menuWindow .menu-list .menu-item.active {
  color: #ccc;
}

@media only screen and (min-width: 768px) {
  #menuWindow .menu-list {
    top: 30vh;
    right: 10vw;
    font-size: 2em;
  }

  #menuWindow .menu-list .menu-item {
    margin: 30px auto;
  }

  #menuWindow .menu-list .menu-item p {
    font-weight: 400;
  }

  #menuWindow .follow-list {
    bottom: 60px;
    left: 50px;
  }

  #menuWindow .statement {
    bottom: 100px;
    left: 55px;
  }
}
