#onNumaraMotivasyon {
  width: 100vw;
  height: 100vh;
  padding-left: calc(5vw + 30px + 1em);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#onNumaraMotivasyon .container {
  max-width: 250px;
}

@media only screen and (min-width: 768px) {
  #onNumaraMotivasyon {
    justify-content: flex-end;
  }

  #onNumaraMotivasyon .container {
    padding-top: 0;
    max-width: 400px;
    margin: 300px;
  }
}
