#allServices {
  padding-top: 100px;
  padding-bottom: 100px;
}

#allServices .top .filter {
  padding-left: calc(55px + 1em);
  color: #777;
}

#allServices .top .filter {
  display: flex;
  padding-left: calc(5vw + 30px + 1em);
}

#allServices .top .filter .item {
  margin-top: 10px;
  padding: 10px 20px 10px 0;
}

#allServices .container {
  width: 80vw;
  margin: auto;
}

#allServices .service-list {
  margin-top: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#allServices .service-list .item {
  margin-top: 65px;
  padding-bottom: 5vw;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#allServices .service-list .item .content {
  margin-right: 20px;
  padding: 0 10px;
}

#allServices .service-list .item .heading {
  position: relative;
  margin: 20px 0;
}

#allServices .service-list .item .heading .title {
  width: 100%;
}

#allServices .service-list .item .description {
  position: relative;
  padding-left: calc(20px + 0.8em);
}

#allServices .service-list .item button {
  position: relative;
  margin-left: calc(20px + 0.8em);
}

#allServices .media {
  height: 200px;
}

@media only screen and (min-width: 768px) {
  #allServices .service-list {
    margin-top: 3vw;
  }

  #allServices .service-list .description {
    height: 100px;
  }

  #allServices .service-list .heading {
    height: 40px;
  }

  #allServices .service-list .item {
    margin: 25px;
    padding-bottom: 0vw;
  }
}

@media only screen and (min-width: 650px) {
  #allServices .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(90vw - 60px - 1em);
    margin: auto;
  }

  #allServices .top .heading {
    margin: 0;
  }

  #allServices .top .filter {
    padding: 0;
  }

  #allServices .top .filter .item {
    padding: 0 10px;
    min-width: 50px;
  }
}
