/* FOOTER */
#footer {
  background-color: #000;
  padding: 70px 40px 30px;
  display: flex;
  justify-content: space-between;
}

#footer * {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 100;
  line-height: 1.75em;
  color: #eee;
}

#footer .title {
  font-weight: 600;
}

#footer .list {
  padding-right: 15px;
  min-width: 60px;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer .footlinks {
  margin-top: 2em;
  max-width: calc(100vw - 60px);
  display: flex;
  justify-content: flex-start;
}

#footer .copyright {
<<<<<<< Updated upstream
  color: #555;
  margin-top: 50px;
=======
  margin-top: 30px;
>>>>>>> Stashed changes
  font-size: 0.7em;
}

#footer .brand {
  min-width: 200px;
}

#footer .brand img {
  filter: brightness(0) invert(1);
}

#footer .next {
  text-align: right;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  #footer {
    padding: 50px;
  }

  #footer .container {
    width: calc(50vw + 100px);
    flex-direction: row;
    justify-content: space-between;
  }

  #footer .footlinks {
    margin-top: 0;
  }

  #footer .next {
    right: 50px;
    top: 50px;
    text-align: right;
  }
}
