#header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

#header.hide {
  top: -50px;
  opacity: 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  margin: 40px 25px;
  transition: margin 0.2s ease-out;
}

#header .container .logo {
  pointer-events: all;
}

#header .menu-list {
  display: none;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  margin: 10px 20px;
  transition: all 0.2s ease-out;
  font-size: 0.75em;
}

#header .navigation .menu-list:hover .menu-item p {
  color: #999;
}

#header .navigation .menu-list .menu-item:hover p {
  color: #000;
}

#header .navigation .menu-item {
  width: 90px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

#header .menu-list .menu-item p {
  font-size: 0.9em;
  font-weight: 100;
  text-align: center;
  padding: 5px;
  color: #222;
  min-width: 50px;
}

#header .menu-item .line {
  width: 0px;
  margin-top: 1.1em;
  margin-right: 0;
  transition: width 0.2s ease-out;
}

#header .menu-item:hover .line {
  width: 10px;
}

#header .menu-item:active .line {
  width: 10px;
}

#header .menu-item.active .line {
  display: block;
}

@media only screen and (min-width: 768px) {
  #header .container {
    margin: 60px 50px;
  }

  #header .menu-list {
    opacity: 1;
    display: flex;
  }

  #header.mini .container {
    margin: 10px 40px;
  }

  #header.mini .menu-list {
    opacity: 0;
  }

  #header .navigation {
    width: 500px;
    justify-content: flex-end;
    align-items: center;
  }
}
