#header {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100vw - 50px);
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  align-items: center;
  z-index: 200;
}

#header .logo {
  padding: 3px;
}

#header .menu-list {
  display: none;
  align-items: center;
  height: 1em;
}

#header .navigation .menu-item {
  width: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 5px;
}

#header .menu-list p {
  width: 60px;
  padding: 5px;
}

#header .menu-item .line {
  width: 0px;
  margin-top: 1.1em;
  margin-right: 0;
  /* border-bottom: 1px solid #222; */
  transition: width 0.3s ease;
}

#header .menu-item.active .line {
  /* display: block; */
}

@media only screen and (min-width: 768px) {
  #header {
    width: calc(100vw - 100px);
    padding: 60px 50px;
  }

  #header .menu-list {
    display: flex;
  }

  #header .navigation {
    width: 500px;
    justify-content: flex-end;
    align-items: center;
  }
}
