#service {
}

#service .heading {
  margin-top: 50px;
}

#service .media {
  position: fixed;
  top: 0;
  height: 310px;
  width: 100vw;
  z-index: -100;
}

#service .info {
  position: relative;
  max-width: 100vw;
  margin: auto;
  margin-top: 300px;
  padding-right: 30px;
  background-color: #fff;
  padding-top: 30px;
}

#service .container {
  max-width: 800px;
  margin: 20px 0 0;
  padding: auto;
  padding-left: calc(5vw + 20px + 1em);
}

#service .container .title {
  margin-top: 60px;
}

#service .container .intro {
  margin: 40px 0;
}

#service .item {
  list-style: disc;
  list-style-position: inherit;
  margin: 25px;
}

#service .filter {
  font-size: 0.8em;
  width: 110px;
  justify-content: space-between;
  margin-top: 10px;
}

#service button {
  margin: 100px 0;
}

@media only screen and (min-width: 768px) {
  #service .info {
    padding: 30px 10vw;
  }
}
