/* SPECIALTIES */
#specialties {
  padding-top: 150px;
  padding-bottom: 150px;
}

#specialties .header {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  width: 80vw;
  margin: auto;
}

#specialties .head {
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

#specialties .content {
  text-align: center;
}

#specialties .icon {
  width: 50px;
  height: 50px;
}

#specialties .list {
  padding-top: calc(15px + 1em);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 400px;
  margin: auto;
  margin-top: 4vw;
}

#specialties .list .item {
  width: 150px;
  height: 140px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#specialties .list .item .title {
  width: 100px;
  padding: 20px 0;
}

#specialties .linking {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.linking .line {
  width: 15px;
}

#specialties .linking a{
  color: #000;
  margin-right: 5px;
}


@media only screen and (min-width: 768px) {
  #specialties .list {
    max-width: 700px;
  }

  #specialties .linking{
    display: flex;
  }
}