#story {
  background-color: #eee;
  padding-bottom: 150px;
}

#story .media {
  height: 30vw;
  min-height: 300px;
}

#story .container {
  max-width: 800px;
}

#story .content {
  padding: 0 calc(5vw + 30px + 1em);
  max-width: 800px;
}

#story .text {
  margin-top: 40px;
}

#story .heading {
  margin-top: 60px;
  margin-bottom: 30px;
}

#story .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#story .list li {
  margin-top: 100px;
}

@media only screen and (min-width: 768px) {
  #story .list li {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  #story .container {
    margin: auto
  }
}