/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: #aaa;
  font-size: 0.8em;
  text-decoration: none;
}

/* THEME */
.App {
  color: #222;
}

.text,
.snippet,
.description {
  margin-top: 1em;
  color: #666;
}
/*
.title {
  margin-top: 2em;
  max-width: 250px;
} */

button {
  width: 130px;
  height: 33px;
  margin-top: 3em;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 0.8em;
}

.heading {
  display: flex;
  align-items: flex-end;
  margin-left: 5vw;
}

.heading.small {
  margin-left: 0px;
}

.heading .title {
  width: 200px;
}

.media,
.picture,
.icon,
.image-container {
  background-color: #222;
}

.icon {
  border-radius: 100%;
}

.flex {
  display: flex;
}

/* SHAPES */
.line {
  width: 30px;
  margin-bottom: 0.33em;
  margin-right: 1em;
  border-bottom: 1px solid #000;
}

.back-line {
  width: 20px;
  margin-bottom: 0.33em;
  margin-right: 1em;
  border-bottom: 1px solid #000;
}

.small .line {
  width: 20px;
  margin-right: 0.8em;
}

/* MENU-ICON */
.icon-container {
  /* background-color: red; */
  padding: 15px;
}

.menu-icon {
  width: 16px;
  height: 10px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;

  align-items: center;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2) {
  top: 5px;
}

.menu-icon span:nth-child(3) {
  top: 10px;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* GALLERY */
#gallery {
  padding-top: 50px;
  padding-bottom: 100px;
}

#gallery .area-1 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#gallery .image-container {
  width: calc(100vw - 80px);
  height: 200px;
  margin: 2px;
}

#gallery .image-container.big {
  height: 400px;
}

#gallery .more {
  display: block;
  text-align: center;
  margin-top: 40px;
  color: #666
}

/* ALL SERVICES */
#allServices {
  padding-top: 50px;
  padding-bottom: 50px;
}

#allServices .filter {
  padding-left: calc(55px + 1em);
  color: #777;
}

#allServices .container {
  width: 80vw;
  margin: auto;
}

#allServices .service-list {
  margin-top: 50px;
}

#allServices .service-list .item {
  margin-top: 65px;
  padding-bottom: 65px;
}

#allServices .service-list .heading {
  position: relative;
  top: -10px;
}

#allServices .service-list .description {
  position: relative;
  padding-left: calc(20px + 0.8em);
  top: -10px;
}

#allServices .service-list button {
  position: relative;
  margin-left: calc(20px + 0.8em);
  top: -20px;
}

#allServices .filter {
  display: flex;
  width: 200px;
}

#allServices .filter .item {
  margin-top: 10px;
  padding: 10px 20px 10px 0;
}

#allServices .media {
  height: 200px;
}

/* CONTACT */
#contact {
  height: 80vh;
  margin-left: 10vw;
  padding-top: 20vh;
}

#contact .list {
  margin-left: calc(55px + 1em);
  margin-top: 70px;
}

#contact .list h3 {
  margin-top: 20px;
}

#contact .list p,
#contact .list a {
  display: block;
  font-size: 1em;
  color: #777;
  margin-top: 10px;
}

/* BIOGRAPHY */
#biography {
  width: 70vw;
  margin: 150px auto;
}

#biography .picture {
  width: 70vw;
  height: 350px;
  margin: auto;
}

#biography .heading {
  margin: 0;
  padding-top: 40px;
}

#biography a {
  font-size: 1em;
}

#biography .intro {
  margin-top: 20px;
}

#biography .bio {
  margin-top: 20px;
}

#biography .career-history.list {
  margin: 60px 10px;
  font-size: 0.8em;
  width: 300px;
}

#biography .career-history.list .item {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
}

#biography .career-history.list .item .dates {
  min-width: 80px;
  margin-right: 10px;
  text-align: right;
}

#biography .career-history.list .item .company {
  max-width: 150px;
}

#biography .career-history.list .item .position {
  max-width: 150px;
}

#biography .career-history.list .item .note {
  display: block;
  font-weight: 100;
  margin: 5px auto;
  color: #999;
}

#biography .educations .title {
  padding-top: 30px;
}

#biography .educations .info {
  line-height: 2em;
}

#biography .educations .item {
  margin: 40px auto;
  font-size: 0.9em;
}

#biography .educations .item .activity {
  list-style: disc;
  list-style-position: inherit;
  margin: 20px 25px;
}

/* SERVICE */
#service .heading {
  margin-top: 50px;
}

#service .media {
  margin-top: 130px;
  height: 200px;
}

#service .container {
  width: 70vw;
  margin: 20px auto;
}

#service .container .title {
  margin-top: 60px;
}

#service .item {
  list-style: disc;
  list-style-position: inherit;
  margin: 25px;
}

#service .filter {
  font-size: 0.8em;
  width: 110px;
  justify-content: space-between;
  margin-top: 10px;
}

#service button {
  margin: 50px 0;
}

#menuWindow {
  position: fixed;
  background-color: #222;
  width: 100vw;
  height: 100vh;
  top: 0;
}

#menuWindow .menu-list {
  display: block;
  position: absolute;
  top: 210px;
  right: 0px;
  font-size: 1.7em;
}

#menuWindow .menu-list .menu-item {
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}


#menuWindow .follow-list {
  /* display: none; */
  position: absolute;
  bottom: 30px;
  left: 20px;
  flex-wrap: wrap;
}

#menuWindow .follow-list .icon {
  width: 18px;
  height: 18px;
  margin: 5px;
  background-color: #aaa;
}

#menuWindow .logo {
  filter: brightness(0) invert(1);
}

#menuWindow .statement {
  width: 150px;
  position: absolute;
  color: #ccc;
  font-size: 0.7em;
  font-weight: 100;
  bottom: 70px;
  left: 25px;
  font-size: ;
}

#menuWindow .line {
  width: 50px;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  border-bottom: 1px solid #000;
}

#menuWindow .menu-item.active .line {
  border-color: #ccc;
}

#menuWindow .menu-icon span {
  background-color: #ccc;
  height: 1px;
}

#menuWindow .menu-icon span:nth-child(1) {
  width: 12px;
  top: 3px;
  left: 9px;
  transform: rotate(45deg);
}

#menuWindow .menu-icon span:nth-child(2) {
  left: -5px;
}

#menuWindow .menu-icon span:nth-child(3) {
  width: 12px;
  top: 11px;
  left: 9px;
  transform: rotate(-45deg);
}

#menuWindow .menu-list .menu-item.active {
  color: #ccc;
}
