/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  color: #555;
  font-size: 0.8em;
  text-decoration: none;
}

/* THEME */
.App {
  color: #222;
}

.text,
.snippet {
  margin-top: 1em;
  color: #666;
  max-width: 250px;
}

.title {
  margin-top: 2em;
  max-width: 250px;
}

button {
  width: 130px;
  height: 33px;
  margin-top: 3em;
  border: 1px solid #000;
  background-color: #fff;
}

.heading {
  display: flex;
  align-items: flex-end;
}

.heading .title {
  width: 200px;
}

.media,
.picture {
  background-color: #222;
}

/* SHAPES */
.line {
  width: 30px;
  margin-bottom: 0.33em;
  margin-right: 1em;
  border-bottom: 1px solid #000;
}

/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  align-items: center;
  color: #000;
}

#header .logo {
  padding: 3px;
}

#header .menu-list {
  display: none;
}

#header .menu-icon {
  width: 20px;
  transform: rotate(90deg);
  font-size: 1.2em;
}

/* WELCOME */
.welcome {
  padding: 40px 25px;
  height: 100vh;
  background-color: #eee;
}

.welcome .content {
  padding-top: 33vh;
}

.welcome .content .text {
  margin-left: calc(30px + 1em);
  width: 240px;
}

/* PITCH */
#pitch {
  height: 100vh;
  padding-left: calc(30px + 1em);
  padding-top: 33vh;
}

/* WHAT WE DO*/
#whatWeDo {
  background-color: #eee;
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#whatWeDo .media{
  height: 200px;
  width: calc(100% - 25px);
  background-color: #222;
  margin-top: 50px;
}

#whatWeDo .list-item .title {
  position: relative;
  top: -15px;
  margin-left: 20px;
  max-width: 75vw;
}

#whatWeDo .list-item .snippet {
  position: relative;
  top: -20px;
  margin-left: 20px;
  max-width: 75vw;
}

/* 10 NUMARA MOTIVASYON */
#onNumaraMotivasyon {
  height: 100vh;
  padding-left: calc(30px + 1em);
  padding-top: 33vh;
}

/* REFERENCES */
#references {
  background-color: #111;
  color: white;
  padding-left: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100vw;
}

#references .line {
  border-color: white;
}

#references .list {
  max-width: calc(100vw - 50px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: calc(30px + 1em);
  padding-top: 50px;
  padding-bottom: 50px;
}

#references .list .item {
  background-color: #aaa;
  width: 80px;
  height: 40px;
  margin: 20px 70px 20px 0px;
}

#references .more {
  display: block;
  text-align: left;
  padding-left: calc(30px + 1em);
  width: calc(100% - 50px);
}

/* TEAM */
#team {
  padding-top: 50px;
}

#team .heading {
  margin-left: 25px;
}

#team .list {
  padding: calc(55px + 1em);
}

#team .list .item {
  margin-bottom: 100px;
}

#team .picture {
  width: 200px;
  height: 200px;
}

#team .name {
  margin: 10px auto;
}

#team .pitch {
  width: 200px;
}

/* FOOTER */
#footer {
  background-color: #000;
  padding-left: calc(45px + 1em);
  padding-top: 50px;
  padding-bottom: 30px;
}

#footer * {
  color: #bbb;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.75em;
}

#footer h2 {
  font-weight: 600;
  color: #eee;
}

#footer .list {
  max-width: 100px;
  margin-right: 25px;
}

#footer .footlinks {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  width: 80vw;
}

#footer .copyright {
  color: #555;
  margin-top: 40px;
  font-size: 0.6em;
}

#footer .logo img {
  filter: saturate(0);
  filter: brightness(100);
}

#footer .slogan {
  margin-top: 10px;
}
