/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
}

/* SHAPES */
.line {
  width: 30px;
  margin-bottom: 0.33em;
  margin-right: 1em;
  border-bottom: 1px solid #000;
}

/* HEADER */
#header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  align-items: center;
  color: #000;
}

#header .logo {
  padding: 3px;
}

#header .menu-list {
  display: none;
}

#header .menu-list .menu-item {
}

#header .menu-list .menu-item .line{

}

#header .menu-icon{
  width: 20px;
  transform: rotate(90deg);
  font-size: 1.2em;
}
